<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Carrito</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css">
    <script src='main.js'></script>
</head>
<body>
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="four colums">
                    <img src="https://i.pinimg.com/564x/4e/ec/6c/4eec6c9c01ac8f102cbac89cfb3acaf5.jpg" alt="logo">
                </div>
                <div class="two columns u-pull-right">
                    <ul>
                        <li class="submenu">
                            <img src="https://images.vexels.com/media/users/3/200098/isolated/preview/7ad7c76da9a0cd7d2b01b64b2590617b-icono-de-carrito-de-compras-icono-de-carrito-de-compras.png" alt="" id="img-carrito">
                            <div id="carrito">
                                <table id="lista-carrito" class="u-full-width">
                                    <thead>
                                        <tr>
                                            <th>Imagen</th>
                                            <th>Nombre</th>
                                            <th>Precio</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar Carrito</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="four columns">
                        <ul class="navct">
                            <li class="four columns"><a href="#">Inicio</a></li>
                            <li class="four columns"><a href="#">Sobre</a></li>
                            <li class="four columns"><a href="#">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="hero">
        <div class="container">
            <div class="row">
                <div class="six-colums">
                    <div class="contenido-hero"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>