<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Carrito</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css">
    <script src='main.js'></script>
    <style>
        .contenido-hero{
            margin-top: 100px;
            display: flex;
            background-color: #DBD9FF;
        }

        .text{
            padding-left: 200px;
        }
        .rowed{
    display: flex;
    margin: 20px;
        }
        .rowin{
            display: flex;
        }
        .final{
            display: flex;
            background-color: #D1C5E8;
        }
    </style>
</head>
<body>
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="four colums" style="padding-top: 20px; text-align: center;">
                    <img src="https://i.pinimg.com/564x/e2/f8/9f/e2f89f0851ecf11884d69240507ed1a7.jpg" alt="logo" style="width: 300px; height: 220px;">
                </div>
                <div class="two columns u-pull-right" style="text-align: right;">
                    <ul>
                        <li class="submenu" style="background-color: #DBD9FF;">
                            <img src="https://images.vexels.com/media/users/3/200098/isolated/preview/7ad7c76da9a0cd7d2b01b64b2590617b-icono-de-carrito-de-compras-icono-de-carrito-de-compras.png" alt="" id="img-carrito" style="width: 30px; height: 30px; margin-right: 20px;">
                            <div id="carrito">
                                
                                <a href="#" id="vaciar-carrito" class="button u-full-width" style="margin-right: 10px;">Vaciar</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div id="hero">
        <div class="container">
            <div class="row">
                <div class="six-colums">
                    <div class="contenido-hero">
                            <img src="https://media.glamour.mx/photos/619057e02d97bd4c522a352a/4:3/w_2096,h_1572,c_limit/257310.jpg" style="width: 300px; height: 300px; margin-left: 30px; padding-top: 30px; padding-bottom: 30px;">
                            <div>
                               <p class="text">
                                <h1 style="padding-left: 100px;">
                                    <br>
                                  Cuidado<br>
                                  <br>
                            Belleza<br>
                            <br>
                            Perfección<br>  
                                </h1>
                        </p>
                        
                            <p style="padding-left: 150px; padding-top: 10px;">Compra ahora</p>
                        <form style="padding-left: 100px;" action="#" id="busqueda" method="post" class="formulario">
                            <input class="u-full-width" type="text" 
                            placeholder="Que estas buscando"
                            id="buscador"
                            >
                            <input type="submit" id="submit-buscador" class="submit-buscador">
                        </form> 
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="barra">
        <div class="container">
            <div style="padding-left: 30px; text-align: center;" class="rowed">
                <div>
                    <p>Mas de 200 productos<br>
                    Consigue lo mejor para tu piel
                    </p>
                </div>
                <div>
                    <p style="padding-left: 300px; text-align: center;">Elaborados por los mejores químicos<br>
                    Maquillajes y mas cosméticos
                    </p>
                </div>
                <div>
                    <p style="margin-left: 300px; text-align: center;">Productos de skincare<br>
                    100% Natural
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1 style="padding-left: 20px; background-color: #DBD9FF;" id="encabezado" class="encabezado">Pedidos en linea</h1>
    </div>
    <div id="lista-cafe" class="contenedordeimg">
        <div class="rowin">
            <div class="four columns">
                <div class="card">
                    <img src="https://i.pinimg.com/originals/99/72/0a/99720aedcea279b80de3a019c6c306d2.jpg" style="width: 300px; height: 300px; padding-left: 60px;">
                    <div class="info-card">
                        <h1 style="padding-left: 150px;">Skincare</h1>
                        <p style="padding-left: 130px;">Refrescante para tu rutina</p>
                        <p style="padding-left: 160px;" class="precio">$14,99 <samp class="u-pull-right">$15</samp></p>
                        <a style="padding-left: 140px;" href="#" 
                        class="u-full-width button-primary button input agregar-carrito
                        ">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="https://i.pinimg.com/550x/00/83/57/008357fc4d001c4d10ff5c9fb0ea2424.jpg" style="width: 300px; height: 300px; padding-left: 150px;">
                    <div class="info-card">
                        <h1 style="padding-left: 240px;">Makeup</h1>
                        <p style="padding-left: 250px;">Luce fabulosa</p>
                        <p style="padding-left: 260px;" class="precio">$16,99 <samp class="u-pull-right">$17</samp></p>
                        <a style="padding-left: 240px;" href="#" 
                        class="u-full-width button-primary button input agregar-carrito
                        ">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="https://m.media-amazon.com/images/I/41zn7KCCckL._SL500_.jpg" style="width: 300px; height: 300px; padding-left: 150px;">
                    <div class="info-card">
                        <h1 style="padding-left: 250px;">Hair care</h1>
                        <p style="padding-left: 250px;">Cuidado del cabello</p>
                        <p style="padding-left: 280px;" class="precio">$10,99 <samp class="u-pull-right">$11</samp></p>
                        <a style="padding-left: 260px;" href="#" 
                        class="u-full-width button-primary button input agregar-carrito
                        ">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="rowin">
            <div class="four columns">
                <div class="card">
                    <img src="https://http2.mlstatic.com/D_NQ_NP_846725-MEC48698447671_122021-O.jpg" style="width: 300px; height: 300px; padding-left: 60px;">
                    <div class="info-card">
                        <h1 style="padding-left: 150px;">Eye care</h1>
                        <p style="padding-left: 45px; text-align: center;">Almohadillas de gel<br>para los ojos</p>
                        <p style="padding-left: 160px;" class="precio">$14,99 <samp class="u-pull-right">$15</samp></p>
                        <a style="padding-left: 140px;" href="#" 
                        class="u-full-width button-primary button input agregar-carrito
                        ">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="https://ae01.alicdn.com/kf/S7998cb59f67e4750a9ef366d97727956e/L-piz-Delineador-de-ojos-combinaci-n-de-cosm-ticos-negro-resistente-al-agua-no-est.jpg" style="width: 300px; height: 300px; padding-left: 150px;">
                    <div class="info-card">
                        <h1 style="padding-left: 240px;">Eyeliner</h1>
                        <p style="padding-left: 150px; text-align: center;">Para tener un acabado<br>profesional en tu<br>delineado</p>
                        <p style="padding-left: 270px;" class="precio">$9,99 <samp class="u-pull-right">$10</samp></p>
                        <a style="padding-left: 240px;" href="#" 
                        class="u-full-width button-primary button input agregar-carrito
                        ">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="https://i.pinimg.com/originals/71/97/41/71974149d2f312bb3ac72f2f5734c88e.jpg" style="width: 300px; height: 300px; padding-left: 150px;">
                    <div class="info-card">
                        <h1 style="padding-left: 250px;">Hair mask</h1>
                        <p style="padding-left: 185px; text-align: center;">Mascarilla para<br>proteger y reparar<br>el cabello</p>
                        <p style="padding-left: 290px;" class="precio">$15 <samp class="u-pull-right">$14</samp></p>
                        <a style="padding-left: 260px;" href="#" 
                        class="u-full-width button-primary button input agregar-carrito
                        ">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="rowin">
            <div class="four columns">
                <div class="card">
                    <img src="https://e00-telva.uecdn.es/assets/multimedia/imagenes/2020/02/19/15821090226775.jpg" style="width: 300px; height: 300px; padding-left: 60px;">
                    <div class="info-card">
                        <h1 style="padding-left: 160px;">Tonic</h1>
                        <p style="padding-left: 50px; text-align: center;">Tu piel necesita un tónico<br>para completar tu<br>ritual de Skincare</p>
                        <p style="padding-left: 180px;" class="precio">$10 <samp class="u-pull-right">$9</samp></p>
                        <a style="padding-left: 140px;" href="#" 
                        class="u-full-width button-primary button input agregar-carrito
                        ">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="https://www.baratazo.com/baratazo/wp-content/uploads/2022/05/original-65.jpeg" style="width: 300px; height: 300px; padding-left: 150px;">
                    <div class="info-card">
                        <h1 style="padding-left: 260px;">Blush</h1>
                        <p style="padding-left: 230px;">Para un acabado natural</p>
                        <p style="padding-left: 270px;" class="precio">$11,99 <samp class="u-pull-right">$12</samp></p>
                        <a style="padding-left: 250px;" href="#" 
                        class="u-full-width button-primary button input agregar-carrito
                        ">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="https://media.glamour.mx/photos/6190775ca6e030d6480fa2e1/master/w_1600%2Cc_limit/220006.jpg" style="width: 300px; height: 300px; padding-left: 150px;">
                    <div class="info-card">
                        <h1 style="padding-left: 250px;">Keratin</h1>
                        <p style="padding-left: 170px; text-align: center;">Para el alisado natural<br>del cabello</p>
                        <p style="padding-left: 270px;" class="precio">$10,99 <samp class="u-pull-right">$11</samp></p>
                        <a style="padding-left: 255px;" href="#" 
                        class="u-full-width button-primary button input agregar-carrito
                        ">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="final" style="padding-left: 30px; padding-top: 30px; padding-bottom: 30px;">
            <img src="https://i.pinimg.com/564x/e2/f8/9f/e2f89f0851ecf11884d69240507ed1a7.jpg" alt="logo" style="width: 300px; height: 220px;">
            <p style="padding-left: 50px;">
                <h3>Gracias por comprar en Violette L'amour espero que vuelvas pronto</h3>
                
            </p>
        </div>
    </div>
</body>
</html>