/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    outline: 0;
    background-color: azure;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.boton{
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #DBD9FF;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFD9F5;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}